body {
    background: url(../img/ec-background/bg-2.webp) !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: #fff;
}